In [1]:
import pandas as pd
import os
import math

In [2]:
cwd = os.getcwd()
cwd

'/Users/noahlippman/Documents/GitHub/Data-Science-Projects'

In [3]:
data = pd.read_csv('/Users/noahlippman/Library/CloudStorage/OneDrive-IndianaUniversity/Book5.csv')
data = pd.DataFrame(data)

In [4]:
print(data)

      Pitcher Id Last Name, First Name (Pitch Movement.Csv) Pitch Hand  \
0       425794.0                           Wainwright, Adam          R
1            NaN                                        NaN        NaN
2            NaN                                        NaN        NaN
3            NaN                                        NaN        NaN
4       425844.0                              Greinke, Zack          R
...          ...                                        ...        ...
1695         NaN                                        NaN        NaN
1696         NaN                                        NaN        NaN
1697    701643.0                             Hartwig, Grant          R
1698         NaN                                        NaN        NaN
1699         NaN                                        NaN        NaN

     Pitch Type Name  Avg Speed  Pitcher Break X  Pitcher Break Z  Rise  \
0           4-Seamer       85.7              1.7             22.3  -9.0
1          Curveball       71.5             16.5             68.1   2.0
2             Cutter       82.8              5.6             31.9   5.0
3             Sinker       86.9             13.2             25.0  -6.0
4           4-Seamer       89.5              2.9             18.2  -4.0
...              ...        ...              ...              ...   ...
1695          Cutter       89.0              1.0             26.8   0.0
1696          Sinker       91.3             13.8             22.7  -4.0
1697          Cutter       93.2              4.0             24.4  -8.0
1698          Sinker       94.7             18.1             23.8  -2.0
1699         Sweeper       82.5             13.8             40.1   5.0

       Tail  Hard Hit Percent  Run Value Per 100  Est Woba
0     -65.0              52.9               -1.3     0.395
1      37.0              32.5               -0.7     0.390
2      40.0              31.8               -0.9     0.358
3      -5.0              49.2               -4.1     0.432
4     -47.0              47.2               -0.1     0.406
...     ...               ...                ...       ...
1695 -136.0              44.4               -1.0     0.405
1696   -7.0              22.7                3.2     0.292
1697  494.0              45.0                0.4     0.311
1698   15.0              36.7               -1.0     0.344
1699    1.0              34.8               -0.2     0.284

[1700 rows x 12 columns]

In [5]:
data = data.rename(columns = {"Last Name, First Name (Pitch Movement.Csv)":"Name","Pitcher Id":"ID","Avg Speed":"Velo",
"Pitcher Break X":"Horizontal Break", "Pitcher Break Z": "Vertical Break","Hard Hit Percent": "Hard Hit Rate",
 "Est Woba": "xWOBA", "Run Value Per 100": "RV/100"})

In [6]:
data

,ID,Name,Pitch Hand,Pitch Type Name,Velo,Horizontal Break,Vertical Break,Rise,Tail,Hard Hit Rate,RV/100,xWOBA
0,425794.0,"Wainwright, Adam",R,4-Seamer,85.7,1.7,22.3,-9.0,-65.0,52.9,-1.3,0.395
1,NaN,NaN,NaN,Curveball,71.5,16.5,68.1,2.0,37.0,32.5,-0.7,0.390
2,NaN,NaN,NaN,Cutter,82.8,5.6,31.9,5.0,40.0,31.8,-0.9,0.358
3,NaN,NaN,NaN,Sinker,86.9,13.2,25.0,-6.0,-5.0,49.2,-4.1,0.432
4,425844.0,"Greinke, Zack",R,4-Seamer,89.5,2.9,18.2,-4.0,-47.0,47.2,-0.1,0.406
...,...,...,...,...,...,...,...,...,...,...,...,...
1695,NaN,NaN,NaN,Cutter,89.0,1.0,26.8,0.0,-136.0,44.4,-1.0,0.405
1696,NaN,NaN,NaN,Sinker,91.3,13.8,22.7,-4.0,-7.0,22.7,3.2,0.292
1697,701643.0,"Hartwig, Grant",R,Cutter,93.2,4.0,24.4,-8.0,494.0,45.0,0.4,0.311
1698,NaN,NaN,NaN,Sinker,94.7,18.1,23.8,-2.0,15.0,36.7,-1.0,0.344
1699,NaN,NaN,NaN,Sweeper,82.5,13.8,40.1,5.0,1.0,34.8,-0.2,0.284

The Nan is due to the formatting from Tableu.
To deal with this, we have to replace the NANs with the most recent ID, Name, and Pitch Hand 
    
    - First lets create a list of dictionary of all IDs and Names

In [7]:
IDsClean = [id for id in data["ID"] if not math.isnan(id)]
dataList = list(data["ID"])
nums = -1
newList = []
for i in range(len(dataList)):
    if math.isnan(dataList[i]):
        newList.append(IDsClean[nums])
    else:
        newList.append(dataList[i])
        nums += 1 
data["ID"] = newList
data

,ID,Name,Pitch Hand,Pitch Type Name,Velo,Horizontal Break,Vertical Break,Rise,Tail,Hard Hit Rate,RV/100,xWOBA
0,425794.0,"Wainwright, Adam",R,4-Seamer,85.7,1.7,22.3,-9.0,-65.0,52.9,-1.3,0.395
1,425794.0,NaN,NaN,Curveball,71.5,16.5,68.1,2.0,37.0,32.5,-0.7,0.390
2,425794.0,NaN,NaN,Cutter,82.8,5.6,31.9,5.0,40.0,31.8,-0.9,0.358
3,425794.0,NaN,NaN,Sinker,86.9,13.2,25.0,-6.0,-5.0,49.2,-4.1,0.432
4,425844.0,"Greinke, Zack",R,4-Seamer,89.5,2.9,18.2,-4.0,-47.0,47.2,-0.1,0.406
...,...,...,...,...,...,...,...,...,...,...,...,...
1695,696136.0,NaN,NaN,Cutter,89.0,1.0,26.8,0.0,-136.0,44.4,-1.0,0.405
1696,696136.0,NaN,NaN,Sinker,91.3,13.8,22.7,-4.0,-7.0,22.7,3.2,0.292
1697,701643.0,"Hartwig, Grant",R,Cutter,93.2,4.0,24.4,-8.0,494.0,45.0,0.4,0.311
1698,701643.0,NaN,NaN,Sinker,94.7,18.1,23.8,-2.0,15.0,36.7,-1.0,0.344
1699,701643.0,NaN,NaN,Sweeper,82.5,13.8,40.1,5.0,1.0,34.8,-0.2,0.284

In [8]:
NamesClean = [name for name in data["Name"] if type(name) != float]
dataList = list(data["Name"])
nums = -1
newList = []
for name in range(len(dataList)):
    if type(dataList[name]) != float:
        newList.append(dataList[name])
        nums += 1 
    else:
        newList.append(NamesClean[nums])
data["Name"] = newList
data

,ID,Name,Pitch Hand,Pitch Type Name,Velo,Horizontal Break,Vertical Break,Rise,Tail,Hard Hit Rate,RV/100,xWOBA
0,425794.0,"Wainwright, Adam",R,4-Seamer,85.7,1.7,22.3,-9.0,-65.0,52.9,-1.3,0.395
1,425794.0,"Wainwright, Adam",NaN,Curveball,71.5,16.5,68.1,2.0,37.0,32.5,-0.7,0.390
2,425794.0,"Wainwright, Adam",NaN,Cutter,82.8,5.6,31.9,5.0,40.0,31.8,-0.9,0.358
3,425794.0,"Wainwright, Adam",NaN,Sinker,86.9,13.2,25.0,-6.0,-5.0,49.2,-4.1,0.432
4,425844.0,"Greinke, Zack",R,4-Seamer,89.5,2.9,18.2,-4.0,-47.0,47.2,-0.1,0.406
...,...,...,...,...,...,...,...,...,...,...,...,...
1695,696136.0,"Wicks, Jordan",NaN,Cutter,89.0,1.0,26.8,0.0,-136.0,44.4,-1.0,0.405
1696,696136.0,"Wicks, Jordan",NaN,Sinker,91.3,13.8,22.7,-4.0,-7.0,22.7,3.2,0.292
1697,701643.0,"Hartwig, Grant",R,Cutter,93.2,4.0,24.4,-8.0,494.0,45.0,0.4,0.311
1698,701643.0,"Hartwig, Grant",NaN,Sinker,94.7,18.1,23.8,-2.0,15.0,36.7,-1.0,0.344
1699,701643.0,"Hartwig, Grant",NaN,Sweeper,82.5,13.8,40.1,5.0,1.0,34.8,-0.2,0.284

In [9]:
handClean = [hand for hand in data["Pitch Hand"] if type(hand) != float]
dataList = list(data["Pitch Hand"])
nums = -1
newList = []
for name in range(len(dataList)):
    if type(dataList[name]) != float:
        newList.append(dataList[name])
        nums += 1 
    else:
        newList.append(handClean[nums])
data["Pitch Hand"] = newList
data = data.drop(columns = ["Rise", "Tail"])
data

,ID,Name,Pitch Hand,Pitch Type Name,Velo,Horizontal Break,Vertical Break,Hard Hit Rate,RV/100,xWOBA
0,425794.0,"Wainwright, Adam",R,4-Seamer,85.7,1.7,22.3,52.9,-1.3,0.395
1,425794.0,"Wainwright, Adam",R,Curveball,71.5,16.5,68.1,32.5,-0.7,0.390
2,425794.0,"Wainwright, Adam",R,Cutter,82.8,5.6,31.9,31.8,-0.9,0.358
3,425794.0,"Wainwright, Adam",R,Sinker,86.9,13.2,25.0,49.2,-4.1,0.432
4,425844.0,"Greinke, Zack",R,4-Seamer,89.5,2.9,18.2,47.2,-0.1,0.406
...,...,...,...,...,...,...,...,...,...,...
1695,696136.0,"Wicks, Jordan",L,Cutter,89.0,1.0,26.8,44.4,-1.0,0.405
1696,696136.0,"Wicks, Jordan",L,Sinker,91.3,13.8,22.7,22.7,3.2,0.292
1697,701643.0,"Hartwig, Grant",R,Cutter,93.2,4.0,24.4,45.0,0.4,0.311
1698,701643.0,"Hartwig, Grant",R,Sinker,94.7,18.1,23.8,36.7,-1.0,0.344
1699,701643.0,"Hartwig, Grant",R,Sweeper,82.5,13.8,40.1,34.8,-0.2,0.284